* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 550px;
    width: 760px;
    border: 2px solid rgb(7, 226, 226);
    border-radius: 10px;
}

#header_menu {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: aliceblue;
    border-radius: 10px 10px 0 0;
}
