* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.invisible {
    color: transparent;
}

.error {
    color: red;
}

main {
    display: flex;
    gap: 4rem;
    margin: 1rem 2rem;
    /* justify-content: center; */
}

form {
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
}

#situation {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

#balance {
    display: flex;
    gap: 1rem;
}

div {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    gap: 3px;
}

#articles {
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.expenses {
    display: flex;
    flex-direction: column;

    background-color: rgba(13, 150, 185, 0.541);
    border-radius: 10px;
    padding: .5rem;
}

.input-box {
    display: flex;
    justify-content: space-around;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: .2rem;
   
}

.edit, .delete {
    padding: 0 .2rem;
    font-size: .5rem;

    background-color: transparent;
    border: transparent;

    &:hover {
        cursor: pointer;
        color: white;
    }

}