@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --error: #EF233C;
    --paid-out: #67B476;
    --pending: #FCA311;
    --save: #0077b6;
    --bg-color: #8ECAE6;
    --bg-color-50: #8ecae6c0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.invisible {
    color: transparent;
}

.error {
    color: var(--error);
}

.paid-out {
    color: var(--paid-out);
}

.pending {
    color: var(--pending);
}

:focus {
    outline: transparent;
    /* border: transparent; */
}

input:disabled {
    color: black;
    background-color: transparent;
    border: transparent;
}

body {
    position: relative;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  
    display: block;
    background: url('https://static.vecteezy.com/system/resources/previews/025/791/244/non_2x/pattern-hipster-abstract-form-geometric-line-shapes-fashion-style-seamless-background-banner-poster-illustration-black-white-design-vector.jpg');

    background-size:cover;
    width: 100%;
    height: 100%;
  
    -webkit-filter: blur(3px);
    -moz-filter:    blur(3px);
    -o-filter:      blur(3px);
    -ms-filter:     blur(3px);
    filter:         blur(3px);
}


main {
    height: 100vh;
    background: linear-gradient(to bottom, #8ecae6af, #4f7d92b4);

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    
}

form {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    background-color: white;
    padding: 3rem 2rem;
    border-radius: 1rem;
    margin-top: 2rem;
    height: 40rem;

    justify-content: center;

    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.082);
}


label:hover {
    cursor: pointer;
}

form > h1 {
    text-align: center;
    margin-bottom: 2rem;
    padding: 0rem 4rem;

}

form > div {
    display: flex;
    flex-direction: column;
}


form > div > input {
    border: transparent;
    border-bottom: 1px solid black;
}

form > span {
    display: flex;
    justify-content: space-around;

}

input[type="radio"] {
    accent-color: var(--bg-color) ;

}

form > button {
    background-color: black;
    color: white;
    font-size: 1.2rem;

    border-radius: 1rem;
    border: 1px solid black;
    padding: .3rem .2rem;

    margin-top: 1rem;

    &:hover {
        color: black;
        background-color: transparent;
        border-color: black;

        cursor: pointer;
    }
}

#div-expenses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#div-expenses > h1 {
    text-align: center;
    color: white;
    
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.233);

}

#balance {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    padding: .3rem;
    gap: 1rem;

    width: 35rem;

    justify-content: center;
    align-items: center;
    /* width: 50%; */

    background-color: white;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.082);

    margin: .5rem 0;
}

#articles {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    
    gap: 1rem;
    height: 33rem;
    padding: .5rem;
    /* margin-top: 1rem; */

    align-items: center;
    

}

#articles::-webkit-scrollbar {
    color: red;
    background-color: red;
    fill: red;
}

.expenses {
    display: flex;
    background-color: white;
    align-items: center;
    
    padding: 1rem .3rem 1rem .5rem;
    border-radius: .5rem;
    /* gap: 1rem; */

}

.expenses:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.082);
}

.info {
    display: flex;
    flex-direction: column;

    margin-right: 5rem;

    font-size: 1.5rem;
}

.enableInput {
    border: transparent;
    border-bottom: 1px solid black;
    font-size: 1.5rem;

}

.item-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.price-span > input {
    font-size: 1.5rem;
}

/* .item-situation {
    margin-top: .5rem;
} */

.image-div, .price-span {
    display: flex;
}

.image {
    width:  8rem;
    height: 8rem;
    background-color: transparent;
    border: 1px solid black;
    border-radius: .5rem;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .5rem;
}

.buttons {
    padding: 0 .2rem;
    /* font-size: 1rem; */

    background-color: transparent;
    border: transparent;

}

.fa-trash-can:hover {
    color: var(--error);
    cursor: pointer;
}
.fa-pencil:hover {
    color: var(--pending);
    cursor: pointer;
}

.fa-floppy-disk:hover {
    color: var(--save);
    cursor: pointer;
}