:root {
    --font-color: #cecece;
    --object-bg-color: #2b2b2b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#newPost {
    background-color: var(--object-bg-color);
    color: var(--font-color);
    border: 1px solid var(--object-bg-color);

    border-radius: 19px;
    padding: .2rem 10rem;
    font-size: 1.3rem;
    text-align: center;


    &:hover {
        cursor: pointer;
    }
}

