h1 {
    color: purple;
    border: 2px solid yellow;
}

body{
    background-image: url('https://www.spacex.com/static/images/falcon-9/refresh/F9_DM2_LAUNCH_3840x2560.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.moon {
    color: orange;
    font-size: 20px;
}

.big-text {
    font-size: 40px;
}

#europa-text {
    font-size: 10px;
    color: blue;
}

li {
    color: gray;
}