@charset 'UTF-8';

body {
    background-image: linear-gradient(to right, rgb(6, 31, 83), rgb(28, 63, 128));
    font: normal 1.2em Arial;
    color: white;
}

header {
    text-align: center;
}
section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
}

div {
    text-align: center;
    margin: auto;
    padding: 8px;
}

#img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

footer{
    text-align: center;
    font-style: italic;
}